:root {
  --bg-color: #ffffff;
  --main-text: #212121;
  --secondary-text: #757575;
  --text-hover: #2196f3;
  --color-logos: #2196f3;
  --buttons-text: #212121;
  --buttons-text-active: #ffffff;
  --buttons-main-bcg: #f5f4fa;
  --buttons-active-bcg: #2196f3;
  --footer-contacts: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--bg-color);
  color: #212121;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  /*outline: 1px seagreen solid;**/
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
  /*outline: 1px seagreen solid;*/
}

/*INDEX-html-page*/
.header-container {
  width: 1200px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  padding-top: 30px;
}

.main-title-index {
  padding-top: 200px;

  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-index {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  margin-top: 30px;
  margin-bottom: 200px;

  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-index:hover,
.button-index:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.what-we-doing-section {
  background-color: #2f303a;
  min-height: 600px;
  text-align: center;
}

.ourfeatures-section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features .elemnt {
  width: calc((100%-90px) / 5);
  margin-right: 30px;
}
.features .elemnt:last-child {
  margin-right: 0px;
}
.lower-titles-index {
  margin-top: 94px;

  color: var(--main-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.secondary-text-index {
  margin-top: 10px;

  color: var(--secondary-text);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-tasks-section {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.bottom-titles-index {
  margin-bottom: 50px;

  color: var(--main-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-tasks {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  justify-content: center;
}

.our-tasks .item {
  display: flex;
}

.our-tasks:last-child {
  margin-right: 0px;
}
/*===================OUR TEAM SECTION==============*/
.our-team-section {
  background-color: #f5f4fa;
}

.our-team-section-title {
  margin-bottom: 50px;
  padding-top: 94px;

  color: var(--main-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-section-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.our-team-section .list {
  display: flex;
}

.our-team-section .item {
  margin-right: 30px;
}
.our-team-section:last-child {
  margin-right: 0px;
}

.our-names {
  margin-bottom: 10px;

  color: var(--main-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-section .image {
  margin-bottom: 30px;
}

.names-discription {
  margin-bottom: 30px;

  color: var(--secondary-text);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/*=================FOOTER================*/

.footer {
  background-color: #2f303a;
  min-height: 252px;
}

.footer-container {
  width: 1200px;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  padding-top: 10px;
}

/*================PORTFOLIO-NAV========================*/
.logo {
  margin-right: 90px;

  color: var(--color-logos);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent-logo {
  color: #212121;
}

.accent-white {
  color: #ffffff;
}

.site-nav {
  display: flex;
  display: inline-block;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--main-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--text-hover);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-hover);
}

/*header contacts*/
.header-contacts {
  display: flex;
  margin-left: auto;
  margin-top: 5px;
}

.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts .link {
  color: #757575;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contacts .link:focus,
.header-contacts .link:hover {
  color: #2196f3;
}

/*main-buttons*/
.hidden-elements {
  display: none;
}

.buttons {
  color: var(--buttons-text);
  background: var(--buttons-main-bcg);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.buttons.active:hover,
.buttons.active:focus {
  color: var(--buttons-text-active);
  background: var(--buttons-active-bcg);
  cursor: pointer;
}

/*main-content-list*/
.port-titles {
  color: var(--main-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-texts {
  color: var(--secondary-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*footer*/
.footer-adress {
  padding-top: 20px;

  color: var(--buttons-text-active);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--text-hover);
  text-decoration: none;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--text-hover);
}
